{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aticle</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
    <body>
        <div class="wrapper">
            <h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png' %}" alt=""/></a></h1>
             {% block content %}
             {% endblock %}
    <!--dentro il blocco verra messo qualunque cosa chimara questo template per far si che venga "completato"-->
    <!--vedi per bene article_list.html-->
         </div>


    </body>
</html>